
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    justify-content: center;
}

.gallery-image {
    width: 360px;
    height: 200px;
}